* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 20px;
    border: 1px solid #000;
    text-align: center;
}

.card img {
    width: 100%;
}

button {
    padding: 10px;
}

.copy {
    text-align: center;
    padding: 15px;
}